body
{
    font-family: 'Fondamento', sans-serif;

    margin: 0;

    text-align: center;

    background-color: #232323;
    background-image: url('path.jpg');
    background-size: cover;
}

header
{
    position: fixed;
    top: 0;
    top: 0;

    width: 100%;
    height: 130px;
    margin: 0;

    background-color: rgba(255,255,255,.5);
    /*Photo by Alex Iby on Unsplash*/
    box-shadow: 0 0 30px 1px rgba(255,255,255,.5);
}

.quest-box h3
{
    font-size: 1.3em;
}

header h1
{
    letter-spacing: 10px;
}

.quest-container
{
    margin-top: 130px;
}

.quest-box
{
    display: inline-block;

    box-sizing: border-box;
    width: calc(70%/3);
    margin: 40px 5%;
    padding: 0 0 40px 0;

    text-align: center;
}

header,
.quest-box,
.log
{
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 0 30px 1px rgba(0,0,0,.5);
}


.log
{
    display: inline-block;

    margin: 0 auto;
    padding: 20px 0;
}

.log p
{
    margin: 5px 20px;
}

.log p:nth-child(2)
{
    color: rgba(0,0,0,.8);
}
.log p:nth-child(3)
{
    color: rgba(0,0,0,.6);
}
.log p:nth-child(4)
{
    color: rgba(0,0,0,.4);
}
.log p:nth-child(5)
{
    color: rgba(0,0,0,.2);
}
